@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

body {
  width: 90%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: #1e1e2b;
  text-decoration: none;
}

a:hover {
  color: #a0631e;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  background-color: #f8f8f7;
  gap: 100px;
  padding: 20px 100px;
  margin: 0 auto;
}

.main_content {
  background-color: #f8f8f7;
}

.title {
  margin: 20px 0;
}

.title-text {
  margin: 20px 0;
}

.title-content {
  margin: 20px 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

body {
  width: 90%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: #1e1e2b;
  text-decoration: none;
}

a:hover {
  color: #a0631e;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  background-color: #f8f8f7;
  gap: 100px;
  padding: 20px 100px;
  margin: 0 auto;
}

.main_content {
  background-color: #f8f8f7;
}

.title {
  margin: 20px 0;
}

.title-text {
  margin: 20px 0;
}

.title-content {
  margin: 20px 0;
}

.sidebar {
  width: 25%;
  background-color: #e7e7e9;
  padding: 20px 30px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

body {
  width: 90%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: #1e1e2b;
  text-decoration: none;
}

a:hover {
  color: #a0631e;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  background-color: #f8f8f7;
  gap: 100px;
  padding: 20px 100px;
  margin: 0 auto;
}

.main_content {
  background-color: #f8f8f7;
}

.title {
  margin: 20px 0;
}

.title-text {
  margin: 20px 0;
}

.title-content {
  margin: 20px 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-content {
  font-size: 20px;
  font-weight: 400;
}

body {
  width: 90%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: #1e1e2b;
  text-decoration: none;
}

a:hover {
  color: #a0631e;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  background-color: #f8f8f7;
  gap: 100px;
  padding: 20px 100px;
  margin: 0 auto;
}

.main_content {
  background-color: #f8f8f7;
}

.title {
  margin: 20px 0;
}

.title-text {
  margin: 20px 0;
}

.title-content {
  margin: 20px 0;
}

.sidebar {
  width: 25%;
  background-color: #e7e7e9;
  padding: 20px 30px;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .main {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}