@media (min-width: 1000px) {
    .main, aside {
        width: 100%;

        display: flex;

        flex-direction: row;
        align-items: flex-start;
    }

    .title-content {
        width: 100%;
    }
}

@media (min-width: 767px){
    .main, aside {
        width: 80%; 

            
               
        flex-direction: column-reverse;
        align-items: flex-start;

    }

    .title-content {
        width: 80%;
    }
}

@media (min-width: 599px) {
    .main, aside {
        width: 80%;       
        
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .title-content {
        width: 80%;
    }
}